body {
    height: 100vh;
    margin: 0;

    font-family: "Titan One", sans-serif;
    font-weight: 300;
    font-style: normal;

    background-color: black;
}

h1 {
    color: white;
    margin: 0;
}

h3 {
    color: white;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "Titan One", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* STYLE TELA*/
.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    height: 60px;
    width: 60px;

}

.bt-voltar {
    display: flex;
    top: 40px;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-right: 80%;
}

.bt-voltar u {
    font-family: "Titan One", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    /* margin-left: 120px; */
    cursor: pointer;
}

.bt-voltar a {
    display: flex;
    align-items: center;
    gap: 5px;

}

.bt-voltar img {
    height: 40px;
    width: 40px;
    cursor: pointer;
}


/* GRÁFICOS */

.container-indicadores {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid 2px;
    border-color: white;
    height: 72vh;
    width: 80vw;
    gap: 15px;
    padding: 5px;
    /* padding: 30px; */
}

.kpis {
    display: flex;
    gap: 20px;
    text-align: center;
}

.kpi {
    height: 12vh;
    width: 12vw;
    border: solid 2px;
    border-radius: 15px;
    border-color: white;
    color: white;
    padding: 7px;

}

.graficos {
    display: flex;
    border: solid 2px;
    border-color: white;
    height: 50vh;
    width: 60vw;
    border-radius: 15px;
    color: white;
}

.grafico {
    display: flex;
    justify-content: center;
    width: 95%;
    height: 95%;
    margin-left: 30px;
}

/* span{
    font-size: 10px;
} */