body {
    height: 100vh;
    margin: 0;

    font-family: "Titan One", sans-serif;
    font-weight: 300;
    font-style: normal;

    background-color: black;
    display: flex;
    justify-content: center;
}

.logo {
    top: 0px;
    position: fixed;
}

.logo img {
    /* position: fixed; */
    width: 90px;
    height: 90px;
    border-radius: 2px;
    display: block;
    margin-left: 10px;
}

.container {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    border: solid 3px rgb(3, 3, 73);
    width: 60vw;
    height: 270vh;
}

.informacao-titulo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 200px;
}

h2 {
    margin: 0;
}

.informacao-titulo img {
    gap: 200px;
    margin-right: 0;
    width: 120px;
    height: 85px;
}


.setup{
}

.setup img {
    height: 60vh;
    width: 50vw;
}