body {
    height: 100vh;
    margin: 0;

    font-family: "Titan One", sans-serif;
    font-weight: 300;
    font-style: normal;

    background-color: black;
    display: flex;
    justify-content: center;
}

.bt-voltar {
    display: flex;
    top: 40px;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-right: 80%;
}

.bt-voltar u {
    font-family: "Titan One", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    /* margin-left: 120px; */
    cursor: pointer;
}

.bt-voltar a {
    display: flex;
    align-items: center;
    gap: 5px;

}

.bt-voltar img {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.logo {
    top: 0px;
    position: fixed;
}

.logo img {
    /* position: fixed; */
    width: 90px;
    height: 90px;
    border-radius: 2px;
    display: block;
    margin-left: 10px;
}

.container {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    border: solid 3px rgb(3, 3, 73);
    width: 60vw;
    height: 330vh;
}

.informacao-titulo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 200px;
}

h2 {
    margin: 0;
}

.informacao-titulo img {
    gap: 200px;
    margin-right: 0;
    width: 120px;
    height: 85px;
}

.motivo{
    padding: 15px;
    text-align: start;
}

.setup img {
    height: 60vh;
    width: 50vw;
}