body {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;

    font-family: "Titan One", sans-serif;
    font-weight: 300;
    font-style: normal;

    justify-content: center;
    align-items: center;
    background-color: #000000;
    background-image: url('./IMG/o-baterista-toca-bateria-no-estudio-contra-um-belo-fundo-de-perto.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
}


/* NAVBAR */

.navbar {
    background-color: #0000006a;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-radius: 20px;


    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 45px;
    border-radius: 10px;
    font-size: 20px;

}

.logo {
    position: absolute;
    left: 70px;
    top: 0px;
    z-index: 1001;

}

.logo img {
    width: 125px;
    height: 125px;
    border-radius: 2px;
    display: block;
}


.nav-links {
    display: flex;
    gap: 70px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.nav-links a:hover {
    color: black;
    border-radius: 7px;
    background-color: #ffffff;
}


/* STYLE CADASTRO  E LOGIN*/

.campos {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.668);
    border-style: solid 2px;
    border-bottom: 3px solid rgb(255, 255, 255);
    font-size: 18px;
    width: 500px;
    gap: 10px;
    padding: 15px;
    margin-top: 40px;
}

.login {
    height: 40vh;
}

.campos img {
    width: 55px;
    height: 55px;
    border-radius: 2px;
    margin-left: 0;
}

.campos a {
    color: #ffffff;
    font-size: 12px;
}

input {
    width: 100%;
    padding: 7px;
    margin-top: 5px;
    border-radius: 7px;
}

.inputs {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3px;
    width: 75%;
}

select {
    color: rgb(0, 0, 0);
    padding: 7px;
    width: 75%;
    font-family: "Titan One", sans-serif;
    font-style: normal;
    text-align: center;
    text-align-last: center;
    border-radius: 7px;
}

option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7px;
    width: 75%;
}

button {
    background-color: #ffffff;
    padding: 12px;
    width: 35%;
    border-radius: 7px;
    font-family: "Titan One", sans-serif;
    font-style: normal;
    text-align: center;
    text-align-last: center;
    font-size: 15px;
    margin-bottom: 15px;
}

button:hover {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}