body {
    /* display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
    align-items: center; */
    height: 100vh;

    font-family: "Titan One", sans-serif;
    font-weight: 300;
    font-style: normal;

    background-color: #000000;
    overflow-x: hidden;
    /* background-image: url('../IMG/fundo-cad.png');
    background-size: cover;
    background-position: center; */
    /* background-color: rgb(00, 02, 14); */


    /* Alinha ao centro na vertical */

    /* backdrop-filter: blur(px); efeito de desfoque */
    margin: 0;
}


/* NAVBAR */

.navbar {
    background-color: #0000006a;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 45px;
    font-size: 20px;
}

.logo {
    position: absolute;
    left: 70px;
    top: 0px;
    z-index: 2;
}

.logo img {
    width: 125px;
    height: 125px;
    border-radius: 2px;
    display: block;
}

.nav-links {
    display: flex;
    gap: 70px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.nav-links a:hover {
    color: black;
    border-radius: 7px;
    background-color: #ffffff;
}


/* STYLE HOME */

.container {
    height: 100vh;
    width: 100vw;
}

/* img de fundo */
.fundo-home {
    z-index: 1;
}


.fundo-home img {
    margin-top: 0%;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    object-fit: cover;
    width: 100vw;
    height: 99vh;
}


.txt-home {
    display: flex;
    color: #ffffff;
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 315px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.mensagem {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 35px;
    color: rgb(0, 0, 0);
    width: 45vw;
    height: 20vh;
    border: 2px solid#000000;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.747);
    padding: 7px;
    position: fixed;
    right: 10px;
    bottom: 42%;
}



.sobre {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    color: #ffffff;
    background: #000000c2;
    height: 7vh;
    border-radius: 10px;
    position: fixed;
    bottom: 10px;
    margin-bottom: 1px;
    gap: 50px;
}

#container-contato {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sobre-img {
    display: flex;
    margin-left: 65px;
}

.sobre-img.github img {
    height: 50px;
    width: 55px;
    padding: 15px;
}

.sobre b {
    color: #ffffff;
}

.sobre a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;

}

/* .contato {
    width: 94%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
} */


.sobre img {
    display: flex;
    height: 43px;
    width: 85px;
}

.fonte {
    color: white;
    height: 15vh;
    width: 30vw;
    margin-left: 15px;
}

.fonte a {
    color: white;
}