body {
    /* display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
    align-items: center; */
    height: 100vh;

    font-family: "Titan One", sans-serif;
    font-weight: 300;
    font-style: normal;

    background-color: #000000;
    /* background-image: url('../IMG/fundo-cad.png');
    background-size: cover;
    background-position: center; */
    /* background-color: rgb(00, 02, 14); */


    /* Alinha ao centro na vertical */

    /* backdrop-filter: blur(px); efeito de desfoque */
    margin: 0;
}


/* NAVBAR */

.navbar {
    background-color: #0000006a;
    position: fixed;
    width: 100%;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 45px;
    border-radius: 10px;
    font-size: 20px;

}

.logo {
    position: absolute;
    left: 70px;
    top: 0px;
    z-index: 1001;

}

.logo img {
    width: 125px;
    height: 125px;
    border-radius: 2px;
    display: block;
}


.nav-links {
    display: flex;
    gap: 70px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.nav-links a:hover {
    color: black;
    border-radius: 7px;
    background-color: #ffffff;
}


/* STYLE HOME */
/* img de fundo */
.fundo-home {
    margin-top: 0%;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    object-fit: cover;
    width: 100%;
    height: 90vh;
}


.txt-home {
    display: flex;
    color: #ffffff;
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 315px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.txt-home h1 {
    font-size: 100px;
}

.sobre {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    color: #ffffff;
    background: #000;
    height: 10vh;
}

.sobre-img {
    display: flex;
    margin-left: 65px;
}

.sobre b {
    color: #ffffff;
}

.sobre p {
    margin-bottom: 1px;
    gap: 50px;
}

/* .contato {
    width: 94%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
} */

.sobre img {
    display: flex;
    height: 43px;
    width: 85px;

}



#container-contato {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}